<!DOCTYPE html>
<html>
  <head>
      <title><%= title %></title>
      <!-- <link rel='stylesheet' href='/stylesheets/index.css' /> -->
      <link rel='stylesheet' href='/stylesheets/header.css' />
      <link rel='stylesheet' href='/bootstrap/css/bootstrap.css' />
      <link rel='stylesheet' href='/bootstrap/css/bootstrap-theme.css' />
      <link rel='stylesheet' href='/fontawesome/css/font-awesome.min.css' />
  </head>
  <body>
    <!--  导航栏 -->
    <div class ="header">
        <!-- logo -->
        <a href="#" class="logo">
          <img src="/images/logo.png" height="60" />
        </a>
        <ul class="nav nav-tabs pull-right">
          <li class="">
            <a href="/" title="首页">首页</a>
          </li>
          <li>
              <a href="/all-commodity" title="所有商品">所有商品</a>
          </li>
          <% if(!user) { %>
             <li>
                <a href="/user-login" title="登录">登录</a>
             </li>
          <% }else{ if(user.status == 0){ %>
              <li>
                <a href="/cart" title="我的购物车">我的购物车</a>
              </li>
              <li>
                <a href="/vip" title="会员中心">会员中心</a>
              </li>
              <% }else{ %>
              <li>
                <a href="/commodity-manage" title="商品管理">商品管理</a>
              </li>
              <li>
                <a href="/user-manage" title="用户管理">用户管理</a>
              </li>   
          <% }  %>  
              <li class="out">
                <a href="#">当前在线：<%= user.username %>
                  <ul>
                    <li>
                      <a href="/logout" title="退出">退出</a>
                    </li>
                  </ul>
                </a> 
              </li> 
          <%  } %>      
        </ul>              
    </div>
       <script src="/javascripts/jquery-3.1.1.js"></script>
       <script src="/bootstrap/js/bootstrap.js"></script>
       
  </body>
</html>