 
<% include header.ejs %>
<% include top.ejs %>
<link rel='stylesheet' href='/stylesheets/index.css' />

<!--  中间内容区 -->
<div class ="content">
	<!-- 商品分类(左边导航) -->
	<div class ="catalog">
     <span>主推品牌</span>
      <ul class="prod-nav-ul"> 
        <li class="prod-nav-li">
           <a class="prod-nav-li-a" href="#" title="魅族">魅族</a>
           <div class="prod-nav-li-pull">
             <p><a href="/good?name='魅族MX6'">魅族MX6</a></p>
             <p><a href="/good?name='魅族note5'">魅蓝note5</a></p>
           </div>
         </li>
        <li class="prod-nav-li">
           <a class="prod-nav-li-a" href="#" title="小米">小米</a>
           <div class="prod-nav-li-pull">
             <p><a href="/good?name='小米5'">小米5</a></p>
             <p><a href="/good?name='小米5s'">小米5s</a></p>
           </div>
         </li>
        <li class="prod-nav-li">
           <a class="prod-nav-li-a" href="#" title="苹果">苹果</a>
           <div class="prod-nav-li-pull">
             <p><a href="/good?name='Apple iPhone 6'">Apple iPhone 6</a></p>
             <p><a href="/good?name='iPhone 7 Plus'">iPhone 7 Plus</a></p>
           </div>
         </li>
        <li class="prod-nav-li">
           <a class="prod-nav-li-a" href="#" title="华为">华为</a>
           <div class="prod-nav-li-pull">
             <p><a href="/good?name='华为 Mate 9'">华为 Mate 9</a></p>
             <p><a href="/good?name='华为 P9'">华为 P9</a></p>
           </div>
         </li>
        <li class="prod-nav-li">
           <a class="prod-nav-li-a" href="#" title="三星">三星</a>
           <div class="prod-nav-li-pull">
             <p><a href="/good?name='三星 Galaxy C5'">三星 Galaxy C5</a></p>
             <p><a href="/good?name='三星 Galaxy Note5'">三星 Galaxy Note5</a></p>
           </div>
         </li>
        <li class="prod-nav-li">
           <a class="prod-nav-li-a" href="#" title="努比亚">努比亚</a>
           <div class="prod-nav-li-pull">
             <p><a href="/good?name='nubia N1'">nubia N1</a></p>
             <p><a href="/good?name='nubia Z11'">nubia Z11</a></p>
           </div>
         </li>
        <li class="prod-nav-li">
           <a class="prod-nav-li-a" href="#" title="OPPO">OPPO</a>
           <div class="prod-nav-li-pull">
             <p><a href="/good?name='OPPO A57'">OPPO A57</a></p>
             <p><a href="/good?name='OPPO R9s'">OPPO R9s</a></p>
           </div>
         </li>
        <li class="prod-nav-li">
           <a class="prod-nav-li-a" href="#" title="vivo">vivo</a>
           <div class="prod-nav-li-pull">
             <p><a href="/good?name='vivo X9Plus'">vivo X9Plus</a></p>
             <p><a href="/good?name='vivo Y67'">vivo Y67</a></p>
           </div>
         </li>
        <li class="prod-nav-li">
           <a class="prod-nav-li-a" href="#" title="荣耀">荣耀</a>
           <div class="prod-nav-li-pull">
             <p><a href="/good?name='荣耀5'">荣耀5</a></p>
             <p><a href="/good?name='荣耀V8'">荣耀V8</a></p>
           </div>
         </li>
      </ul> 
	</div>
	<!-- 图片轮播 -->
	<div id="carousel">
		<div id="myCarousel" class="carousel slide">
		   <!-- 轮播指标 -->
		   <ol class="carousel-indicators">
		      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		      <li data-target="#myCarousel" data-slide-to="1"></li>
		      <li data-target="#myCarousel" data-slide-to="2"></li>
		   </ol>  
		   <!-- 轮播项目 -->
		   <div class="carousel-inner">
		      <div class="item active">
		         <img src="images/sl-1.jpg" alt="First slide">
		      </div>
		      <div class="item">
		         <img src="images/sl-3.jpg" alt="Second slide">
		      </div>
		      <div class="item">
		         <img src="images/sl-2.jpg" alt="Third slide">
		      </div>
		   </div>
		   <!-- 轮播导航 -->
       <a class="carousel-control left " href="#myCarousel"
          data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span>
       </a>
       <a class="carousel-control right" href="#myCarousel"
          data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span>
       </a>
		</div>
	</div>
</div><!-- id="content" -->

<!-- 商品详情链接 -->
<div class ="commodity">
	  <!-- 标题 -->
	  <div class="projectHeader">
       <p class="title">今日大牌</p>
    </div>
    <!-- 商品链接 -->
    <div class="project ">
      <div class="row">
        <div class="col-md-2">
          <a href="/good?name='小米5'">
              <div class="project_img">
                  <img src="images/goods/mi5-2.jpg" width="200" height="200"/>
              </div>     
              <div class="project_info">
                  <p class="title">小米5</p>
              </div>    
          </a>
        </div>
        <div class="col-md-2">
          <a href="/good?name='魅族MX6'">
              <div class="project_img">
                  <img src="images/goods/mx6-2.jpg" width="200" height="200"/>
              </div>     
              <div class="project_info">
                  <p class="title">魅族MX6</p>
              </div>    
          </a>
        </div>
        <div class="col-md-2">
          <a href="/good?name='iPhone 7 Plus'">
              <div class="project_img">
                  <img src="images/goods/apple7plus-2.jpg" width="200" height="200"/>
              </div>     
              <div class="project_info">
                  <p class="title">iPhone 7 Plus</p>
              </div>    
          </a>
        </div>
        <div class="col-md-2">
          <a href="/good?name='华为 P9'">
              <div class="project_img">
                  <img src="images/goods/hwp9-2.jpg" width="200" height="200"/>
              </div>     
              <div class="project_info">
                  <p class="title">华为 P9</p>
              </div>    
          </a>
        </div>
        <div class="col-md-2">
          <a href="/good?name='三星 Galaxy Note5'">
              <div class="project_img">
                  <img src="images/goods/sxNote5-2.jpg" width="200" height="200"/>
              </div>     
              <div class="project_info">
                  <p class="title">三星 Galaxy Note5</p>
              </div>    
          </a>
        </div>
      </div>
    </div>
    <!-- 标题 -->
    <div class="projectHeader">
       <p class="title">今日热销</p>
    </div>
    <div class="project ">
      <div class="row">
        <div class="col-md-2">
          <a href="/good?name='nubia Z11'">
              <div class="project_img">
                  <img src="images/goods/nbZ11-2.jpg" width="200" height="300"/>
              </div>     
              <div class="project_info">
                  <p class="title">nubia Z11</p>
              </div>    
          </a>
        </div>
        <div class="col-md-2">
          <a href="/good?name='OPPO R9s'">
              <div class="project_img">
                  <img src="images/goods/opR9s-2.jpg" width="200" height="300"/>
              </div>     
              <div class="project_info">
                  <p class="title">OPPO R9s</p>
              </div>    
          </a>
        </div>
        <div class="col-md-2">
          <a href="/good?name='vivo Y67'">
              <div class="project_img">
                  <img src="images/goods/vvY67-2.jpg" width="200" height="300"/>
              </div>     
              <div class="project_info">
                  <p class="title">vivo Y67</p>
              </div>    
          </a>
        </div>
        <div class="col-md-2">
          <a href="/good?name='荣耀5'">
              <div class="project_img">
                  <img src="images/goods/ry5-2.jpg" width="200" height="300"/>
              </div>     
              <div class="project_info">
                  <p class="title">荣耀5</p>
              </div>    
          </a>
        </div>
        <div class="col-md-2">
          <a href="/good?name='Apple iPhone'">
              <div class="project_img">
                  <img src="images/goods/apple6-4.jpg" width="200" height="300"/>
              </div>     
              <div class="project_info">
                  <p class="title">Apple iPhone</p>
              </div>    
          </a>
        </div>
    </div>
</div>

<!-- 保障服务 -->
<div class ="module">
    <ul class="content_list" data-options-ease="1" data-options-speed="1">
        <li>
          <a title="7天无理由退货"  target="_blank" >
            <img src="images/h1.png" width="250" height="100" />
          </a>
          <a title="品质保障"  target="_blank" >
            <img src="images/h2.png" width="250" height="100" />
          </a>
          <a title="满150元包邮"  target="_blank" >
            <img src="images/h3.png" width="250" height="100" />
          </a>
          <a title="帮助中心"  target="_blank" >
            <img src="images/h4.png" width="250" height="100" />
          </a>
        </li>
    </ul>
</div>

<!-- 底部 -->
<div class = "footer">
  <p> 
    All Rights Reserved. xiaoting 版权所有
  </p>
</div>







	
