body{
	 margin: 0 auto;
	 padding: 0 auto;
	 background-color:#f6f6f6; 
}
/* 导航栏 */
.header { 
	/*padding: 20px 0;*/
	padding: 35px 0px 10px 0px;
    background-color:#f6f6f6; 
    width: 1200px;
    margin-left: 80px;
}

.header .logo{
	height: 60px;
}
.header .logo img{
	padding-left: 30px;

}
.header a{
	text-decoration: none;
	color: #333;
	line-height: 40px;
}